<?xml version="1.0" encoding="utf-8"?>
<!-- WiX Toolset v4 MSI for Tindarr. Port in %ProgramData%\Tindarr\port.txt. Optional service via post-install dialog + elevated batch. -->
<Wix xmlns="http://wixtoolset.org/schemas/v4/wxs"
     xmlns:ui="http://wixtoolset.org/schemas/v4/wxs/ui">

  <Package
    Name="Tindarr"
    Manufacturer="Tindarr"
    Version="1.0.0"
    UpgradeCode="{B4D70D8A-6D1B-4A2F-A91D-7A3B8A3F3F1B}"
    InstallerVersion="500"
    Compressed="yes"
    Scope="perMachine"
    ShortNames="no">

    <MajorUpgrade DowngradeErrorMessage="A newer version of [ProductName] is already installed." />

    <WixVariable Id="WixUILicenseRtf" Value="License.rtf" />

    <Property Id="PORT" Value="6565" Secure="yes" />
    <Property Id="PORT_VALID" Value="0" Secure="yes" />

    <SetProperty Id="SecureCustomProperties" Value="[SecureCustomProperties];PORT" Before="ExecuteAction" Sequence="ui" />
    <SetProperty Id="WritePortTxtCA" Value="[PORT];[CommonAppDataFolder]" Before="WritePortTxtCA" Sequence="execute" />

    <MediaTemplate EmbedCab="yes" />

    <ui:WixUI Id="WixUI_InstallDir" InstallDirectory="INSTALLFOLDER" />
    <UIRef Id="TindarrServerUI" />

    <StandardDirectory Id="ProgramFiles64Folder">
      <Directory Id="INSTALLFOLDER" Name="Tindarr" />
    </StandardDirectory>

    <StandardDirectory Id="ProgramMenuFolder">
      <Directory Id="AppProgramsFolder" Name="Tindarr" />
    </StandardDirectory>

    <ComponentGroup Id="AppFiles" Directory="INSTALLFOLDER">
      <Files Include="$(var.PublishDir)\**\*">
        <Exclude Files="$(var.PublishDir)\Tindarr.Api.exe" />
        <Exclude Files="$(var.PublishDir)\**\*.pdb" />
        <Exclude Files="$(var.PublishDir)\**\*.xml" />
      </Files>
    </ComponentGroup>

    <Component Id="ApiExeAndBatch" Directory="INSTALLFOLDER" Guid="{C6B1E2A0-7F6A-4C10-9D5C-6C2F1B7A0A11}">
      <File Id="TindarrApiExe" Source="$(var.PublishDir)\Tindarr.Api.exe" KeyPath="yes" />
      <File Id="InstallTindarrServiceBat" Source="InstallTindarrService.bat" />
      <Shortcut Id="StartMenu_Tindarr" Directory="AppProgramsFolder" Name="Tindarr" Description="Start Tindarr"
                WorkingDirectory="INSTALLFOLDER" Advertise="no" Target="[INSTALLFOLDER]Tindarr.Api.exe" />
      <RemoveFolder Id="Remove_AppProgramsFolder" Directory="AppProgramsFolder" On="uninstall" />
      <RegistryValue Root="HKLM" Key="Software\Tindarr" Name="Installed" Type="integer" Value="1" KeyPath="no" />
    </Component>

    <Feature Id="MainFeature" Title="Tindarr" Level="1">
      <ComponentGroupRef Id="AppFiles" />
      <ComponentRef Id="ApiExeAndBatch" />
    </Feature>

    <Binary Id="TindarrCA" SourceFile="$(var.CustomActionDll)" />
    <CustomAction Id="ValidatePortCA" BinaryRef="TindarrCA" DllEntry="ValidatePort" Execute="immediate" Return="check" />
    <CustomAction Id="ValidatePortFailCA" BinaryRef="TindarrCA" DllEntry="ValidatePortFail" Execute="immediate" Return="check" />
    <CustomAction Id="LaunchInstallServiceBatchCA" BinaryRef="TindarrCA" DllEntry="LaunchInstallServiceBatch" Execute="immediate" Return="ignore" />
    <CustomAction Id="WritePortTxtCA" BinaryRef="TindarrCA" DllEntry="WritePortTxt" Execute="deferred" Return="check" />
    <CustomAction Id="RemoveTindarrServiceCA" BinaryRef="TindarrCA" DllEntry="RemoveTindarrService" Execute="deferred" Return="ignore" />

    <InstallExecuteSequence>
      <Custom Action="ValidatePortCA" Before="CostInitialize" Condition="NOT REMOVE" />
      <Custom Action="ValidatePortFailCA" After="ValidatePortCA" Condition="NOT REMOVE" />
      <Custom Action="WritePortTxtCA" After="InstallFiles" Condition="NOT REMOVE" />
      <Custom Action="RemoveTindarrServiceCA" Before="RemoveFiles" Condition="REMOVE~=&quot;ALL&quot;" />
    </InstallExecuteSequence>

  </Package>

  <Fragment>
    <UI Id="TindarrServerUI">
      <Dialog Id="ServerOptionsDlg" Width="370" Height="270" Title="[ProductName] Setup">
        <Control Id="Title" Type="Text" X="15" Y="6" Width="340" Height="15" Transparent="yes" NoPrefix="yes" Text="Server options" />
        <Control Id="Description" Type="Text" X="15" Y="24" Width="340" Height="30" Transparent="yes" NoPrefix="yes"
                 Text="Configure the HTTP port for the Tindarr API." />
        <Control Id="PortLabel" Type="Text" X="15" Y="62" Width="340" Height="12" Text="HTTP port (1024-65535):" />
        <Control Id="PortEdit" Type="Edit" X="15" Y="76" Width="80" Height="18" Property="PORT" />
        <Control Id="Back" Type="PushButton" X="180" Y="243" Width="56" Height="17" Text="&amp;Back">
          <Publish Event="NewDialog" Value="InstallDirDlg" />
        </Control>
        <Control Id="Next" Type="PushButton" X="236" Y="243" Width="56" Height="17" Default="yes" Text="&amp;Next">
          <Publish Event="NewDialog" Value="VerifyReadyDlg" />
        </Control>
        <Control Id="Cancel" Type="PushButton" X="304" Y="243" Width="56" Height="17" Cancel="yes" Text="Cancel">
          <Publish Event="SpawnDialog" Value="CancelDlg" />
        </Control>
      </Dialog>

      <Dialog Id="InvalidPortDlg" Width="260" Height="85" Title="[ProductName] Setup">
        <Control Id="Text" Type="Text" X="15" Y="15" Width="230" Height="30" NoPrefix="yes"
                 Text="Port must be a number between 1024 and 65535." />
        <Control Id="OK" Type="PushButton" X="100" Y="57" Width="56" Height="17" Default="yes" Text="OK">
          <Publish Event="EndDialog" Value="Return" />
        </Control>
      </Dialog>

      <Dialog Id="InstallServiceDlg" Width="370" Height="270" Title="[ProductName] Setup">
        <Control Id="Title" Type="Text" X="15" Y="6" Width="340" Height="15" Transparent="yes" NoPrefix="yes" Text="Install as Windows Service?" />
        <Control Id="Description" Type="Text" X="15" Y="24" Width="340" Height="50" Transparent="yes" NoPrefix="yes"
                 Text="Would you like to install Tindarr as a Windows Service? If yes, an elevated window will run to create and start the service." />
        <Control Id="Yes" Type="PushButton" X="180" Y="243" Width="56" Height="17" Text="&amp;Yes">
          <Publish Event="DoAction" Value="LaunchInstallServiceBatchCA" Order="1" />
          <Publish Event="NewDialog" Value="ExitDialog" Order="2" />
        </Control>
        <Control Id="No" Type="PushButton" X="236" Y="243" Width="56" Height="17" Default="yes" Text="&amp;No">
          <Publish Event="NewDialog" Value="ExitDialog" />
        </Control>
        <Control Id="Cancel" Type="PushButton" X="304" Y="243" Width="56" Height="17" Cancel="yes" Text="Cancel">
          <Publish Event="NewDialog" Value="ExitDialog" />
        </Control>
      </Dialog>

      <Publish Dialog="InstallDirDlg" Control="Next" Event="NewDialog" Value="ServerOptionsDlg" Order="5" />
      <InstallUISequence>
        <Show Dialog="InstallServiceDlg" After="ExecuteAction" />
      </InstallUISequence>
    </UI>
  </Fragment>
</Wix>
